body, h1, h2, h3, h4, h5, h6, p, a, button, input, select, textarea {
  font-family:  Arial ,}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.book-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  width: 300px; /* Fixed width */
  height: 250px; /* Fixed height */
  overflow-wrap: break-word; /* Break long words to prevent overflow */
  white-space: normal; /* Allow text to wrap normally */
}

.book-results {
  display: flex;
  flex-wrap: wrap;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
